@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.main-content {
  padding: 20px;
  background: #f5f6fa;
  min-height: 100vh;
}

/* FULL RIGHT IMAGE */
.home-wrapper {
  display: flex;
  justify-content: flex-end;
}

.home-image-full {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.home-image-full img {
  width: 80%;
  height: 80vh;
  object-fit: contain;
}